openapi: 3.0.3
info:
  title: Public API
  description: This is an API that exposes public api functionality
  version: 1.0.0
servers:
  - url: 'https://api.komodor.com'
security:
  - ApiKeyAuth: []
tags:
  - name: Services
  - name: Jobs
  - name: Events
  - name: Issues
  - name: Kubeconfig
  - name: Clusters
  - name: Audit Logs
  - name: Users
  - name: Roles
  - name: Policies
  - name: Actions
  - name: ApiKey
    description: ''
  - name: Rbac
    description: ''
  - name: Monitors
    description: ''
paths:
  /api/v2/services/search:
    post:
      tags:
        - Services
      summary: Search for services
      description: >
        Search for services based on the provided criteria. If no criteria is
        provided, the default is to return all services.


        **Pagination:** This endpoint uses cursor-based (keyset) pagination for
        efficient handling of large result sets.

        - Omitting `pagination` is equivalent to the first page with `pageSize`
        100 (cursor token omitted)

        - Pass `pageSize` to customize results per page (max 10000)

        - Response `meta` is always returned with the requested `pageSize`;
        `meta.token` is present when more results exist

        - Stop paging when `meta.token` is absent; pass `pagination.token` from
        the previous response for the next page

        - When `issueReasonCategory` filter is active, cursor pagination is
        disabled to avoid boundary issues from client-side filtering
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SearchServicesBody'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchServicesResponse'
        '400':
          $ref: '#/components/responses/400Response'
        '403':
          $ref: '#/components/responses/403Response'
        5XX:
          $ref: '#/components/responses/5XXResponse'
  /api/v2/jobs/search:
    post:
      tags:
        - Jobs
      summary: Search for jobs and cron jobs
      description: >-
        Search for jobs based on the provided criteria. If no criteria is
        provided, the default is to return all jobs.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SearchJobsBody'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchJobsResponse'
        '400':
          $ref: '#/components/responses/400Response'
        '403':
          $ref: '#/components/responses/403Response'
        5XX:
          $ref: '#/components/responses/5XXResponse'
  /api/v2/service/yaml:
    get:
      tags:
        - Services
      summary: Get service YAML
      description: Get the YAML for a service
      parameters:
        - $ref: '#/components/parameters/ClusterParam'
        - $ref: '#/components/parameters/NamespaceParam'
        - $ref: '#/components/parameters/KindParam'
        - $ref: '#/components/parameters/NameParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceStateYamlResponse'
        '400':
          $ref: '#/components/responses/400Response'
        '403':
          $ref: '#/components/responses/403Response'
        '404':
          $ref: '#/components/responses/404Response'
        5XX:
          $ref: '#/components/responses/5XXResponse'
  /api/v2/services/issues/search:
    post:
      tags:
        - Issues
      summary: Search for issues in service scope
      description: >-
        Search for issues based on the provided criteria. Maximum time range is
        2 days. If no time range is provided, the default is the last 24 hours.
        Maximum time back is 7 days.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SearchServicesIssuesBody'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchIssuesResponse'
        '400':
          $ref: '#/components/responses/400Response'
        '403':
          $ref: '#/components/responses/403Response'
        5XX:
          $ref: '#/components/responses/5XXResponse'
  /api/v2/clusters/issues/search:
    post:
      tags:
        - Issues
      summary: Search for issues in cluster scope
      description: >-
        Search for issues based on the provided criteria. Maximum time range is
        2 days. If no time range is provided, the default is the last 24 hours.
        Maximum time back is 7 days.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SearchClustersIssuesBody'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchIssuesResponse'
        '400':
          $ref: '#/components/responses/400Response'
        '403':
          $ref: '#/components/responses/403Response'
        5XX:
          $ref: '#/components/responses/5XXResponse'
  /api/v2/services/k8s-events/search:
    post:
      tags:
        - Events
      summary: Search for k8s events in service scope
      description: >-
        Search for events based on the provided criteria. Maximum time range is
        2 days. If no time range is provided, the default is the last 24 hours.
        Maximum time back is 7 days.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SearchServicesK8sEventsBody'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchEventsResponse'
        '400':
          $ref: '#/components/responses/400Response'
        '403':
          $ref: '#/components/responses/403Response'
        5XX:
          $ref: '#/components/responses/5XXResponse'
  /api/v2/services/k8s-events:
    post:
      tags:
        - Events
      summary: Create a custom k8s event for services
      description: >-
        Create a new custom event that will be shown in the timeline and events
        list. The event will be associated with the specified services.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateServiceCustomEventBody'
      responses:
        '201':
          description: Event created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateCustomEventResponse'
        '400':
          $ref: '#/components/responses/400Response'
        '403':
          $ref: '#/components/responses/403Response'
        5XX:
          $ref: '#/components/responses/5XXResponse'
  /api/v2/clusters/k8s-events/search:
    post:
      tags:
        - Events
      summary: Search for k8s events in cluster scope
      description: >-
        Search for events based on the provided criteria. Maximum time range is
        2 days. If no time range is provided, the default is the last 24 hours.
        Maximum time back is 7 days.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SearchClustersK8sEventsBody'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchEventsResponse'
        '400':
          $ref: '#/components/responses/400Response'
        '403':
          $ref: '#/components/responses/403Response'
        5XX:
          $ref: '#/components/responses/5XXResponse'
  /api/v2/rbac/kubeconfig:
    get:
      summary: Download Kubeconfig File
      tags:
        - Kubeconfig
      description: >-
        Download a kubeconfig file for the specified cluster names. If no
        cluster names are specified, the kubeconfig file for all available
        clusters will be returned.
      parameters:
        - $ref: '#/components/parameters/clusterNamesParam'
        - $ref: '#/components/parameters/kubeconfigConnection'
      responses:
        '200':
          description: Successfully retrieved kubeconfig file
          content:
            application/x-yaml:
              schema:
                type: string
                format: binary
        '400':
          $ref: '#/components/responses/400Response'
        '403':
          $ref: '#/components/responses/403Response'
        5XX:
          $ref: '#/components/responses/5XXResponse'
  /api/v2/clusters:
    get:
      summary: Get list of clusters
      tags:
        - Clusters
      description: 'Fetch a list of all clusters, optionally filtered by name or tags.'
      parameters:
        - $ref: '#/components/parameters/clusterNamesParam'
        - $ref: '#/components/parameters/tags'
      responses:
        '200':
          description: Successfully retrieved Clusters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClustersResponse'
        '400':
          $ref: '#/components/responses/400Response'
        '403':
          $ref: '#/components/responses/403Response'
        '404':
          $ref: '#/components/responses/404Response'
        5XX:
          $ref: '#/components/responses/5XXResponse'
  /api/v2/user/clusters:
    get:
      summary: Get user's accessible clusters
      tags:
        - Clusters
      description: >-
        Fetch a list of clusters that the authenticated user has access to based
        on their permissions. Returns only cluster name and ID.
      responses:
        '200':
          description: Successfully retrieved user clusters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserClustersResponse'
        '403':
          $ref: '#/components/responses/403Response'
        5XX:
          $ref: '#/components/responses/5XXResponse'
  /api/v2/realtime-monitors/config:
    get:
      tags:
        - Real Time Monitors
      responses:
        '200':
          description: List of monitors objects
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetMonitorsResponse'
    post:
      tags:
        - Real Time Monitors
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MonitorConfigurationParams'
      responses:
        '201':
          description: ID of created monitor
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MonitorConfiguration'
  '/api/v2/realtime-monitors/config/{id}':
    get:
      tags:
        - Real Time Monitors
      parameters:
        - name: id
          required: true
          in: path
          description: uuid of a monitor
          schema:
            type: string
      responses:
        '200':
          description: Monitor object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MonitorConfiguration'
    put:
      tags:
        - Real Time Monitors
      parameters:
        - name: id
          required: true
          in: path
          description: uuid of a monitor
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MonitorConfigurationParams'
      responses:
        '200':
          description: Monitor Successfully updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MonitorConfiguration'
        '400':
          $ref: '#/components/responses/400Response'
        '403':
          $ref: '#/components/responses/403Response'
        5XX:
          $ref: '#/components/responses/5XXResponse'
    delete:
      tags:
        - Real Time Monitors
      parameters:
        - name: id
          required: true
          in: path
          description: uuid of a monitor
          schema:
            type: string
      responses:
        '204':
          description: No content
  /api/v2/audit-log:
    get:
      tags:
        - Audit Logs
      summary: Query Audit Logs
      description: >
        Query audit logs with filters, sort and pagination. Use `Accept:
        text/csv` header to get the response as CSV file.
      parameters:
        - name: Accept
          in: header
          required: false
          description: >
            Response format. Use 'application/json' to get the response as JSON.
            Use 'text/csv' to get the response as CSV file. Notice that paging
            is ignored in CSV response, so all logs matched the query are
            returned.
          schema:
            type: string
            default: application/json
        - name: id
          in: query
          required: false
          description: |
            Audit log id. If not provided, the default is all ids.
          schema:
            type: string
        - name: userIds
          in: query
          required: false
          schema:
            type: array
            items:
              type: string
              description: uuid
          style: form
          explode: true
        - name: actions
          in: query
          required: false
          schema:
            type: array
            items:
              type: string
          style: form
          explode: true
        - name: categories
          in: query
          required: false
          schema:
            type: array
            items:
              type: string
          style: form
          explode: true
        - name: operations
          in: query
          required: false
          schema:
            type: array
            items:
              type: string
          style: form
          explode: true
        - name: entityTypes
          in: query
          required: false
          schema:
            type: array
            items:
              type: string
          style: form
          explode: true
        - name: entityName
          in: query
          required: false
          schema:
            type: string
            description: >
              Entity name or part of it, case insensitive. If not provided, the
              default is all entity names.
        - name: startTime
          in: query
          required: false
          description: >
            Start time of the audit logs query. If not provided, the default is
            8 hours ago. Start time parameter is ignored if the response is CSV.
          schema:
            type: string
            format: date-time
        - name: endTime
          in: query
          required: false
          description: >
            End time of the audit logs query. If not provided, the default is
            now. End time parameter is ignored if the response is CSV.
          schema:
            type: string
            format: date-time
        - name: status
          in: query
          required: false
          description: >
            Status of the audit logs query. If not provided, the default is all
            statuses.
          schema:
            type: string
          example: success
        - name: page
          in: query
          required: false
          schema:
            type: integer
            default: 1
            minimum: 1
          description: >
            Page number. If not provided, the default is 1. Page parameter is
            ignored if the response is CSV.
        - name: pageSize
          in: query
          required: false
          schema:
            type: integer
            default: 20
            minimum: 1
            maximum: 100
          description: >
            Page size. If not provided, the default is 20. Page size parameter
            is ignored if the response is CSV.
        - name: sort
          in: query
          required: false
          schema:
            type: string
            description: >
              Comma separated sort fields. Prefix with '-' for descending, no
              prefix for ascending. Example: "eventTime,-category"
          example: 'eventTime,-category'
      responses:
        '200':
          description: Successful audit logs query
          headers:
            Content-Disposition:
              schema:
                type: string
                example: attachment;filename=audit_log.csv
                description: |
                  Available when Content-Type header is 'text/csv'.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedAuditLogs'
            text/csv:
              schema:
                type: string
                format: binary
                description: CSV file with audit logs
        '400':
          $ref: '#/components/responses/400Response'
        '403':
          $ref: '#/components/responses/403Response'
        5XX:
          $ref: '#/components/responses/5XXResponse'
  /api/v2/audit-log/filters:
    get:
      tags:
        - Audit Logs
      summary: Get available filter values for Query Audit Logs
      parameters:
        - name: startTime
          in: query
          required: false
          description: >
            Start time of the audit logs filters. If not provided, the default
            is 8 hours ago.
          schema:
            type: string
            format: date-time
        - name: endTime
          in: query
          required: false
          description: >
            End time of the audit logs filters. If not provided, the default is
            now.
          schema:
            type: string
            format: date-time
      responses:
        '200':
          description: Successful audit logs filters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuditLogFilters'
        '400':
          $ref: '#/components/responses/400Response'
        '403':
          $ref: '#/components/responses/403Response'
        5XX:
          $ref: '#/components/responses/5XXResponse'
  /api/v2/health/risks:
    get:
      tags:
        - Health risks
      summary: Get all the health risks.
      description: Get all the health risks.
      operationId: getHealthRisks
      parameters:
        - $ref: '#/components/parameters/pageSize'
        - $ref: '#/components/parameters/offset'
        - $ref: '#/components/parameters/checkTypeRequestParam'
        - $ref: '#/components/parameters/status'
        - $ref: '#/components/parameters/clusterName'
        - $ref: '#/components/parameters/namespace'
        - $ref: '#/components/parameters/shortResourceNameSearchTerm'
        - $ref: '#/components/parameters/shortResourceName'
        - $ref: '#/components/parameters/impactGroupId'
        - $ref: '#/components/parameters/impactGroupType'
        - $ref: '#/components/parameters/severityRequestParam'
        - $ref: '#/components/parameters/komodorUid'
        - $ref: '#/components/parameters/resourceTypeRequestParam'
        - $ref: '#/components/parameters/createdFromEpoch'
        - $ref: '#/components/parameters/createdToEpoch'
        - $ref: '#/components/parameters/checkCategory'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAllHealthRisksResponse'
        '400':
          $ref: '#/components/responses/400Response'
        '403':
          $ref: '#/components/responses/403Response'
        5XX:
          $ref: '#/components/responses/5XXResponse'
  '/api/v2/health/risks/{id}':
    get:
      tags:
        - Health risks
      summary: Get health risk data.
      description: Get health risk data.
      operationId: getHealthRiskData
      parameters:
        - $ref: '#/components/parameters/idInPath'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetViolationResponse'
        '400':
          $ref: '#/components/responses/400Response'
        '403':
          $ref: '#/components/responses/403Response'
        5XX:
          $ref: '#/components/responses/5XXResponse'
    put:
      tags:
        - Health risks
      summary: Update the status of a health risk.
      description: Update the status of a health risk.
      operationId: updateHealthRiskStatus
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                status:
                  $ref: '#/components/schemas/ViolationStatusRequestParam'
      parameters:
        - $ref: '#/components/parameters/idInPath'
      responses:
        '200':
          description: Successful response containing the updated violation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetUpdateViolationResponse'
        '400':
          $ref: '#/components/responses/400Response'
        '403':
          $ref: '#/components/responses/403Response'
        5XX:
          $ref: '#/components/responses/5XXResponse'
  /api/v2/users:
    get:
      summary: Get Users
      tags:
        - Users
      parameters:
        - name: displayName
          in: query
          required: false
          style: form
          explode: false
          schema:
            type: string
        - name: email
          in: query
          required: false
          style: form
          explode: true
          schema:
            type: string
          x-oapi-codegen-extra-tags:
            binding: 'omitempty,email'
        - name: isDeleted
          description: >-
            Filter either deleted or not deleted users. If not provided, all
            users will be returned.
          in: query
          required: false
          style: form
          explode: false
          schema:
            type: boolean
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/User'
        '400':
          $ref: '#/components/responses/400Response'
        '403':
          $ref: '#/components/responses/403Response'
        '409':
          $ref: '#/components/responses/409Response'
        5XX:
          $ref: '#/components/responses/5XXResponse'
    post:
      summary: Create a User
      tags:
        - Users
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateUserRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '400':
          $ref: '#/components/responses/400Response'
        '403':
          $ref: '#/components/responses/403Response'
        '409':
          $ref: '#/components/responses/409Response'
        5XX:
          $ref: '#/components/responses/5XXResponse'
  '/api/v2/users/{id_or_email}':
    get:
      summary: Get a User by id or email
      tags:
        - Users
      parameters:
        - $ref: '#/components/parameters/UserIdOrEmailParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '400':
          $ref: '#/components/responses/400Response'
        '403':
          $ref: '#/components/responses/403Response'
        '404':
          $ref: '#/components/responses/404Response'
        5XX:
          $ref: '#/components/responses/5XXResponse'
    put:
      summary: Update a User by id or email
      tags:
        - Users
      parameters:
        - $ref: '#/components/parameters/UserIdOrEmailParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateUserRequest'
      responses:
        '200':
          description: Successfully updated role
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '400':
          $ref: '#/components/responses/400Response'
        '403':
          $ref: '#/components/responses/403Response'
        '404':
          $ref: '#/components/responses/404Response'
        5XX:
          $ref: '#/components/responses/5XXResponse'
    delete:
      summary: Delete a User by id or email
      tags:
        - Users
      parameters:
        - $ref: '#/components/parameters/UserIdOrEmailParam'
      responses:
        '204':
          description: Successfully deleted user
        '400':
          $ref: '#/components/responses/400Response'
        '403':
          $ref: '#/components/responses/403Response'
        '404':
          $ref: '#/components/responses/404Response'
        5XX:
          $ref: '#/components/responses/5XXResponse'
  /api/v2/users/effective-permissions:
    get:
      summary: Get User's Effective Permissions
      description: Get user's effective permissions by either user id or email.
      tags:
        - Users
      parameters:
        - name: id
          in: query
          required: false
          style: form
          schema:
            type: string
          x-oapi-codegen-extra-tags:
            binding: 'required_without=Email,excluded_with=Email,omitempty,uuid'
        - name: email
          in: query
          required: false
          style: form
          explode: true
          schema:
            type: string
          x-oapi-codegen-extra-tags:
            binding: 'required_without=Id,excluded_with=Id,omitempty,email'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/EffectivePermission'
        '400':
          $ref: '#/components/responses/400Response'
        '403':
          $ref: '#/components/responses/403Response'
        '404':
          $ref: '#/components/responses/404Response'
        5XX:
          $ref: '#/components/responses/5XXResponse'
  /api/v2/rbac/roles:
    get:
      summary: Get All Roles
      tags:
        - Roles
      description: Get all roles for the account
      responses:
        '200':
          description: Successfully retrieved roles
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Role'
        '400':
          $ref: '#/components/responses/400Response'
        '403':
          $ref: '#/components/responses/403Response'
        5XX:
          $ref: '#/components/responses/5XXResponse'
    post:
      summary: Create Role
      tags:
        - Roles
      description: Create a new role
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RoleCreateRequest'
      responses:
        '201':
          description: Successfully created role
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Role'
        '400':
          $ref: '#/components/responses/400Response'
        '403':
          $ref: '#/components/responses/403Response'
        '409':
          $ref: '#/components/responses/409Response'
        5XX:
          $ref: '#/components/responses/5XXResponse'
  '/api/v2/rbac/roles/{id_or_name}':
    get:
      summary: Get Role by ID or Name
      tags:
        - Roles
      description: Get Role by ID or Name
      parameters:
        - $ref: '#/components/parameters/RoleIdOrNameParam'
      responses:
        '200':
          description: Successfully retrieved role
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Role'
        '400':
          $ref: '#/components/responses/400Response'
        '403':
          $ref: '#/components/responses/403Response'
        '404':
          $ref: '#/components/responses/404Response'
        5XX:
          $ref: '#/components/responses/5XXResponse'
    put:
      summary: Update Role by ID or Name
      tags:
        - Roles
      description: Update Role by ID or Name
      parameters:
        - $ref: '#/components/parameters/RoleIdOrNameParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateRoleRequest'
      responses:
        '200':
          description: Successfully updated role
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Role'
        '400':
          $ref: '#/components/responses/400Response'
        '403':
          $ref: '#/components/responses/403Response'
        '404':
          $ref: '#/components/responses/404Response'
        5XX:
          $ref: '#/components/responses/5XXResponse'
    delete:
      summary: Delete Role by ID or Name
      tags:
        - Roles
      description: Delete Role by ID or Name
      parameters:
        - $ref: '#/components/parameters/RoleIdOrNameParam'
      responses:
        '204':
          description: Successfully deleted role
        '400':
          $ref: '#/components/responses/400Response'
        '403':
          $ref: '#/components/responses/403Response'
        '404':
          $ref: '#/components/responses/404Response'
        5XX:
          $ref: '#/components/responses/5XXResponse'
  /api/v2/rbac/roles/policies:
    post:
      summary: Attach Policy to Role
      tags:
        - Roles
      description: Attach a policy to a role
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RbacRolePolicyCreateRequest'
      responses:
        '201':
          description: Successfully attached policy to role
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RbacRolePolicy'
        '400':
          $ref: '#/components/responses/400Response'
        '403':
          $ref: '#/components/responses/403Response'
        '409':
          $ref: '#/components/responses/409Response'
        5XX:
          $ref: '#/components/responses/5XXResponse'
    delete:
      summary: Detach Policy from Role
      tags:
        - Roles
      description: Detach a policy from a role
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RolePolicyDeleteRequest'
      responses:
        '200':
          description: Successfully detached policy from role
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RbacRolePolicy'
        '400':
          $ref: '#/components/responses/400Response'
        '403':
          $ref: '#/components/responses/403Response'
        '404':
          $ref: '#/components/responses/404Response'
        5XX:
          $ref: '#/components/responses/5XXResponse'
  /api/v2/rbac/users/roles:
    post:
      summary: Attach User to Role
      tags:
        - Users
      description: Attach a user to a role
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserRoleCreateRequest'
      responses:
        '201':
          description: Successfully attached user to role
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RbacUserRole'
        '400':
          $ref: '#/components/responses/400Response'
        '403':
          $ref: '#/components/responses/403Response'
        '409':
          $ref: '#/components/responses/409Response'
        5XX:
          $ref: '#/components/responses/5XXResponse'
    put:
      summary: Update User Role
      tags:
        - Users
      description: Update a user role assignment
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserRoleUpdateRequest'
      responses:
        '200':
          description: Successfully updated user role
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RbacUserRole'
        '400':
          $ref: '#/components/responses/400Response'
        '403':
          $ref: '#/components/responses/403Response'
        '404':
          $ref: '#/components/responses/404Response'
        5XX:
          $ref: '#/components/responses/5XXResponse'
    delete:
      summary: Detach User from Role
      tags:
        - Users
      description: Detach a user from a role
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserRoleDeleteRequest'
      responses:
        '200':
          description: Successfully detached user from role
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
        '400':
          $ref: '#/components/responses/400Response'
        '403':
          $ref: '#/components/responses/403Response'
        '404':
          $ref: '#/components/responses/404Response'
        5XX:
          $ref: '#/components/responses/5XXResponse'
  /api/v2/rbac/policies:
    get:
      summary: Get All Policies
      tags:
        - Policies
      description: Get all policies for the account
      responses:
        '200':
          description: Successfully retrieved policies
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Policy'
        '400':
          $ref: '#/components/responses/400Response'
        '403':
          $ref: '#/components/responses/403Response'
        5XX:
          $ref: '#/components/responses/5XXResponse'
    post:
      summary: Create Policy
      tags:
        - Policies
      description: Create Policy
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PolicyCreateRequest'
      responses:
        '200':
          description: Successfully created policy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Policy'
        '400':
          $ref: '#/components/responses/400Response'
        '403':
          $ref: '#/components/responses/403Response'
        '409':
          $ref: '#/components/responses/409Response'
        '422':
          $ref: '#/components/responses/422Response'
        5XX:
          $ref: '#/components/responses/5XXResponse'
  '/api/v2/rbac/policies/{id_or_name}':
    get:
      summary: Get Policy by ID or Name
      tags:
        - Policies
      description: Get Policy by ID or Name
      parameters:
        - $ref: '#/components/parameters/PolicyIdOrNameParam'
      responses:
        '200':
          description: Successfully retrieved policy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Policy'
        '400':
          $ref: '#/components/responses/400Response'
        '403':
          $ref: '#/components/responses/403Response'
        '404':
          $ref: '#/components/responses/404Response'
        5XX:
          $ref: '#/components/responses/5XXResponse'
    put:
      summary: Update Policy by Id or Name
      tags:
        - Policies
      description: Update Policy by Id or Name
      parameters:
        - $ref: '#/components/parameters/PolicyIdOrNameParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdatePolicyRequest'
      responses:
        '200':
          description: Successfully updated policy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Policy'
        '400':
          $ref: '#/components/responses/400Response'
        '403':
          $ref: '#/components/responses/403Response'
        '404':
          $ref: '#/components/responses/404Response'
        '422':
          $ref: '#/components/responses/422Response'
        5XX:
          $ref: '#/components/responses/5XXResponse'
    delete:
      summary: Delete Policy by Id or Name
      tags:
        - Policies
      description: Delete Policy by Id or Name
      parameters:
        - $ref: '#/components/parameters/PolicyIdOrNameParam'
      responses:
        '204':
          description: Successfully deleted policy
        '400':
          $ref: '#/components/responses/400Response'
        '403':
          $ref: '#/components/responses/403Response'
        '404':
          $ref: '#/components/responses/404Response'
        5XX:
          $ref: '#/components/responses/5XXResponse'
  /api/v2/rbac/actions:
    get:
      summary: Get Custom K8s Actions
      tags:
        - Custom K8s Actions
      description: Get custom Kubernetes actions for the account
      parameters:
        - name: accountId
          in: query
          required: false
          description: Filter by account ID
          schema:
            type: string
        - name: actions
          in: query
          description: Filter by specific action names
          schema:
            type: array
            items:
              type: string
        - name: scopingMethods
          in: query
          required: false
          description: Filter by scoping methods
          schema:
            type: array
            items:
              type: string
        - name: limit
          in: query
          required: false
          description: Maximum number of items to return
          schema:
            type: integer
        - name: offset
          in: query
          required: false
          description: Number of items to skip
          schema:
            type: integer
        - name: sort
          in: query
          description: >-
            if no sort order was specified, the order will be random from the
            database
          required: false
          allowEmptyValue: true
          schema:
            type: string
            enum:
              - ASC
              - DESC
      responses:
        '200':
          description: Successfully retrieved custom K8s actions
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CustomK8sAction'
        '400':
          $ref: '#/components/responses/400Response'
        '403':
          $ref: '#/components/responses/403Response'
        5XX:
          $ref: '#/components/responses/5XXResponse'
    post:
      summary: Create Custom K8s Action
      tags:
        - Custom K8s Actions
      description: Create a new custom Kubernetes action
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomK8sActionCreateRequest'
      responses:
        '201':
          description: Successfully created custom K8s action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomK8sAction'
        '400':
          $ref: '#/components/responses/400Response'
        '403':
          $ref: '#/components/responses/403Response'
        '409':
          $ref: '#/components/responses/409Response'
        5XX:
          $ref: '#/components/responses/5XXResponse'
  '/api/v2/rbac/actions/{action}':
    get:
      summary: Get Custom K8s Action by Action Name
      tags:
        - Custom K8s Actions
      description: Get a specific custom Kubernetes action by its action name
      parameters:
        - name: action
          in: path
          required: true
          description: The name of the custom K8s action to retrieve
          schema:
            type: string
      responses:
        '200':
          description: Successfully retrieved custom K8s action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomK8sAction'
        '400':
          $ref: '#/components/responses/400Response'
        '403':
          $ref: '#/components/responses/403Response'
        '404':
          $ref: '#/components/responses/404Response'
        5XX:
          $ref: '#/components/responses/5XXResponse'
  '/api/v2/rbac/actions/{id}':
    put:
      summary: Update Custom K8s Action by ID
      tags:
        - Custom K8s Actions
      description: Update a specific custom Kubernetes action by its ID
      parameters:
        - name: id
          in: path
          required: true
          description: The ID of the custom K8s action to update
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomK8sActionUpdateRequest'
      responses:
        '200':
          description: Successfully updated custom K8s action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomK8sAction'
        '400':
          $ref: '#/components/responses/400Response'
        '403':
          $ref: '#/components/responses/403Response'
        '404':
          $ref: '#/components/responses/404Response'
        '409':
          $ref: '#/components/responses/409Response'
        5XX:
          $ref: '#/components/responses/5XXResponse'
    delete:
      summary: Delete Custom K8s Action by ID
      tags:
        - Custom K8s Actions
      description: Delete a specific custom Kubernetes action by its ID
      parameters:
        - name: id
          in: path
          required: true
          description: The ID of the custom K8s action to delete
          schema:
            type: string
      responses:
        '200':
          description: Successfully deleted custom K8s action
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Custom K8s action deleted successfully
        '400':
          $ref: '#/components/responses/400Response'
        '403':
          $ref: '#/components/responses/403Response'
        '404':
          $ref: '#/components/responses/404Response'
        5XX:
          $ref: '#/components/responses/5XXResponse'
  /api/v2/integrations/kubernetes:
    post:
      summary: Create Kubernetes Integration
      tags:
        - Integrations
      description: Create a new Kubernetes cluster integration
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateKubernetesIntegrationRequest'
      responses:
        '201':
          description: Successfully created Kubernetes integration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KubernetesIntegration'
        '400':
          $ref: '#/components/responses/400Response'
        '403':
          $ref: '#/components/responses/403Response'
        '409':
          $ref: '#/components/responses/409Response'
        5XX:
          $ref: '#/components/responses/5XXResponse'
  '/api/v2/integrations/kubernetes/{clusterName}':
    get:
      summary: Get Kubernetes Integration by Cluster Name
      tags:
        - Integrations
      description: Get a specific Kubernetes integration by its cluster name
      parameters:
        - name: clusterName
          in: path
          required: true
          description: The name of the Kubernetes cluster
          schema:
            type: string
      responses:
        '200':
          description: Successfully retrieved Kubernetes integration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KubernetesIntegration'
        '400':
          $ref: '#/components/responses/400Response'
        '403':
          $ref: '#/components/responses/403Response'
        '404':
          $ref: '#/components/responses/404Response'
        5XX:
          $ref: '#/components/responses/5XXResponse'
  '/api/v2/integrations/kubernetes/{id}':
    delete:
      summary: Delete Kubernetes Integration by ID
      tags:
        - Integrations
      description: Delete a specific Kubernetes integration by its ID
      parameters:
        - name: id
          in: path
          required: true
          description: The ID of the Kubernetes integration to delete
          schema:
            type: string
      responses:
        '200':
          description: Successfully deleted Kubernetes integration
          content:
            application/json:
              schema:
                type: object
                properties:
                  deletedCount:
                    type: number
                    description: Number of deleted integrations
                    example: 1
        '400':
          $ref: '#/components/responses/400Response'
        '403':
          $ref: '#/components/responses/403Response'
        '404':
          $ref: '#/components/responses/404Response'
        5XX:
          $ref: '#/components/responses/5XXResponse'
  /api/v2/apikey/validate:
    get:
      tags:
        - ApiKey
      summary: Validate API Key
      description: Validates the provided API key and returns validation status
      responses:
        '200':
          description: API key validation successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKeyValidationResponse'
        '403':
          $ref: '#/components/responses/403Response'
        '500':
          $ref: '#/components/responses/5XXResponse'
  /api/v2/cost/allocation:
    get:
      tags:
        - KomodorCost
      summary: Get cost allocation breakdown.
      description: >-
        Retrieve a breakdown of cost allocation across clusters, workspaces, or
        any user-defined grouping.
      operationId: getCostAllocation
      parameters:
        - $ref: '#/components/parameters/CostTimeFrame'
        - $ref: '#/components/parameters/CostAllocationGroupBy'
        - $ref: '#/components/parameters/ClusterScopeRequestParam'
        - $ref: '#/components/parameters/FilterByCostAllocationColumn'
        - $ref: '#/components/parameters/FilterByCostValue'
        - $ref: '#/components/parameters/PageSizeRequestParam'
        - $ref: '#/components/parameters/PaginationTokenRequestParam'
        - $ref: '#/components/parameters/SortOrder'
        - $ref: '#/components/parameters/SortByAllocationRowColumn'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CostAllocationResponse'
        '400':
          $ref: '#/components/responses/400Response'
        '403':
          $ref: '#/components/responses/403Response'
        5XX:
          $ref: '#/components/responses/5XXResponse'
  /api/v2/workspaces:
    get:
      tags:
        - Workspaces
      parameters:
        - name: pageSize
          in: query
          description: Page size
          required: false
          schema:
            type: integer
            default: 500
        - name: page
          in: query
          description: Page number
          required: false
          schema:
            type: integer
            default: 1
      responses:
        '200':
          description: List of workspaces
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetWorkspacesResponse'
    post:
      tags:
        - Workspaces
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkspaceRequest'
      responses:
        '201':
          description: new workspace object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Workspace'
  '/api/v2/workspaces/{id}':
    get:
      description: Get workspace by id
      tags:
        - Workspaces
      parameters:
        - name: id
          required: true
          in: path
          description: uuid of a workspace
          schema:
            type: string
      responses:
        '200':
          description: workspace object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Workspace'
        '403':
          $ref: '#/components/responses/403Response'
        '404':
          $ref: '#/components/responses/404Response'
        '409':
          $ref: '#/components/responses/409Response'
        5XX:
          $ref: '#/components/responses/5XXResponse'
    put:
      tags:
        - Workspaces
      parameters:
        - name: id
          required: true
          in: path
          description: uuid of a workspace
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkspaceRequest'
      responses:
        '200':
          description: Workspace Successfully updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Workspace'
        '400':
          $ref: '#/components/responses/400Response'
        '403':
          $ref: '#/components/responses/403Response'
        '409':
          $ref: '#/components/responses/409Response'
        5XX:
          $ref: '#/components/responses/5XXResponse'
    delete:
      tags:
        - Workspaces
      parameters:
        - name: id
          required: true
          in: path
          description: uuid of a workspace
          schema:
            type: string
      responses:
        '204':
          description: No content
        '400':
          $ref: '#/components/responses/400Response'
        '403':
          $ref: '#/components/responses/403Response'
        '409':
          $ref: '#/components/responses/409Response'
        5XX:
          $ref: '#/components/responses/5XXResponse'
  /api/v2/cost/right-sizing/service:
    get:
      tags:
        - KomodorCost
      summary: Get cost right-sizing recommendations per service.
      description: >-
        Get recommended CPU and memory request adjustments per service to
        optimize cost.
      operationId: getCostRightSizingPerService
      parameters:
        - $ref: '#/components/parameters/OptimizationStrategyRequestParam'
        - $ref: '#/components/parameters/PageSizeRequestParam'
        - $ref: '#/components/parameters/PaginationTokenRequestParam'
        - $ref: '#/components/parameters/FilterByCostRightSizingColumn'
        - $ref: '#/components/parameters/FilterByCostValue'
        - $ref: '#/components/parameters/SortOrder'
        - $ref: '#/components/parameters/SortByRightSizingRowColumn'
        - $ref: '#/components/parameters/ClusterScopeRequestParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CostRightSizingPerServiceResponse'
        '400':
          $ref: '#/components/responses/400Response'
        '403':
          $ref: '#/components/responses/403Response'
        5XX:
          $ref: '#/components/responses/5XXResponse'
  /api/v2/cost/right-sizing/container:
    get:
      tags:
        - KomodorCost
      summary: Get cost right-sizing summary per container.
      description: Get cost right-sizing summary per container.
      operationId: getCostRightSizingPerContainer
      parameters:
        - $ref: '#/components/parameters/ClusterNameRequestParam'
        - $ref: '#/components/parameters/NamespaceRequestParam'
        - $ref: '#/components/parameters/ServiceKindRequestParam'
        - $ref: '#/components/parameters/ServiceNameRequestParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CostRightSizingPerContainerResponse'
        '400':
          $ref: '#/components/responses/400Response'
        '403':
          $ref: '#/components/responses/403Response'
        5XX:
          $ref: '#/components/responses/5XXResponse'
  /api/v2/cost/right-sizing/policies:
    get:
      tags:
        - Cost-Right-Sizing-Policies
      summary: List all right-sizing policies.
      description: Retrieve all right-sizing policies for the account.
      operationId: listRightSizingPolicies
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RightSizingPoliciesResponse'
        '403':
          $ref: '#/components/responses/403Response'
        5XX:
          $ref: '#/components/responses/5XXResponse'
    post:
      tags:
        - Cost-Right-Sizing-Policies
      summary: Create a right-sizing policy.
      description: Create a new right-sizing policy for the account.
      operationId: createRightSizingPolicy
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RightSizingPolicyRequest'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RightSizingPolicyResponse'
        '400':
          $ref: '#/components/responses/400Response'
        '403':
          $ref: '#/components/responses/403Response'
        '409':
          $ref: '#/components/responses/409Response'
        5XX:
          $ref: '#/components/responses/5XXResponse'
  /api/v2/cost/right-sizing/policies/defaults:
    get:
      tags:
        - Cost-Right-Sizing-Policies
      summary: Get the default right-sizing policy.
      description: Retrieve the default right-sizing policy for the account.
      operationId: getDefaultRightSizingPolicy
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RightSizingPolicyResponse'
        '403':
          $ref: '#/components/responses/403Response'
        5XX:
          $ref: '#/components/responses/5XXResponse'
  '/api/v2/cost/right-sizing/policies/{id}':
    get:
      tags:
        - Cost-Right-Sizing-Policies
      summary: Get a right-sizing policy by ID.
      description: Retrieve a specific right-sizing policy by its ID.
      operationId: getRightSizingPolicyById
      parameters:
        - $ref: '#/components/parameters/PolicyIdPathParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RightSizingPolicyResponse'
        '400':
          $ref: '#/components/responses/400Response'
        '403':
          $ref: '#/components/responses/403Response'
        '404':
          $ref: '#/components/responses/404Response'
        5XX:
          $ref: '#/components/responses/5XXResponse'
    put:
      tags:
        - Cost-Right-Sizing-Policies
      summary: Update a right-sizing policy.
      description: Update a specific right-sizing policy by its ID.
      operationId: updateRightSizingPolicyById
      parameters:
        - $ref: '#/components/parameters/PolicyIdPathParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RightSizingPolicyRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RightSizingPolicyResponse'
        '400':
          $ref: '#/components/responses/400Response'
        '403':
          $ref: '#/components/responses/403Response'
        '404':
          $ref: '#/components/responses/404Response'
        '409':
          $ref: '#/components/responses/409Response'
        5XX:
          $ref: '#/components/responses/5XXResponse'
    delete:
      tags:
        - Cost-Right-Sizing-Policies
      summary: Delete a right-sizing policy.
      description: Delete a specific right-sizing policy by its ID.
      operationId: deleteRightSizingPolicyById
      parameters:
        - $ref: '#/components/parameters/PolicyIdPathParam'
        - name: force
          in: query
          required: false
          description: >-
            If true, deletes the policy even if there are workloads currently
            affected by it.
          schema:
            type: boolean
      responses:
        '204':
          description: No Content
        '400':
          $ref: '#/components/responses/400Response'
        '403':
          $ref: '#/components/responses/403Response'
        '404':
          $ref: '#/components/responses/404Response'
        '409':
          $ref: '#/components/responses/409Response'
        5XX:
          $ref: '#/components/responses/5XXResponse'
  /api/v2/klaudia/rca/sessions:
    post:
      tags:
        - Klaudia
      summary: Trigger a new RCA investigation
      operationId: triggerKlaudiaRca
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/KlaudiaRcaRequest'
      responses:
        '200':
          description: Investigation triggered
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KlaudiaRcaResponse'
        '400':
          $ref: '#/components/responses/400Response'
        '403':
          $ref: '#/components/responses/403Response'
        '429':
          $ref: '#/components/responses/429Response'
        5XX:
          $ref: '#/components/responses/5XXResponse'
  '/api/v2/klaudia/rca/sessions/{id}':
    get:
      tags:
        - Klaudia
      summary: Retrieve RCA investigation results
      operationId: getKlaudiaRcaResults
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Investigation results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KlaudiaRcaResultsResponse'
        '400':
          $ref: '#/components/responses/400Response'
        '403':
          $ref: '#/components/responses/403Response'
        5XX:
          $ref: '#/components/responses/5XXResponse'
  '/api/v2/klaudia/files/{type}':
    post:
      tags:
        - Klaudia-Files
      summary: Upload Klaudia files
      operationId: uploadKlaudiaFiles
      parameters:
        - name: type
          in: path
          required: true
          schema:
            type: string
            enum:
              - knowledge-base
              - blueprint
          description: File type
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/schemas-AIFileUploadRequest'
      responses:
        '201':
          description: Files uploaded successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AIFileListResponse'
        '400':
          $ref: '#/components/responses/400Response'
        '403':
          $ref: '#/components/responses/403Response'
        5XX:
          $ref: '#/components/responses/5XXResponse'
    get:
      tags:
        - Klaudia-Files
      summary: List Klaudia files
      operationId: listKlaudiaFiles
      parameters:
        - name: type
          in: path
          required: true
          schema:
            type: string
            enum:
              - knowledge-base
              - blueprint
          description: File type
      responses:
        '200':
          description: List of Klaudia files
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/schemas-AIFileListResponse'
        '400':
          $ref: '#/components/responses/400Response'
        '403':
          $ref: '#/components/responses/403Response'
        5XX:
          $ref: '#/components/responses/5XXResponse'
    delete:
      tags:
        - Klaudia-Files
      summary: Delete Klaudia files
      operationId: deleteKlaudiaFiles
      parameters:
        - name: type
          in: path
          required: true
          schema:
            type: string
            enum:
              - knowledge-base
              - blueprint
          description: File type
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/schemas-AIFileDeleteRequest'
      responses:
        '200':
          description: Deletion result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/schemas-AIFileDeleteResponse'
        '400':
          $ref: '#/components/responses/400Response'
        '403':
          $ref: '#/components/responses/403Response'
        5XX:
          $ref: '#/components/responses/5XXResponse'
  '/api/v2/klaudia/files/{type}/{fileID}':
    get:
      tags:
        - Klaudia-Files
      summary: Download a Klaudia file
      operationId: downloadKlaudiaFile
      parameters:
        - name: type
          in: path
          required: true
          schema:
            type: string
            enum:
              - knowledge-base
              - blueprint
          description: File type
        - name: fileID
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: File content
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        '400':
          $ref: '#/components/responses/400Response'
        '403':
          $ref: '#/components/responses/403Response'
        '404':
          $ref: '#/components/responses/404Response'
        5XX:
          $ref: '#/components/responses/5XXResponse'
    put:
      tags:
        - Klaudia-Files
      summary: Update a Klaudia file
      operationId: updateKlaudiaFile
      parameters:
        - name: type
          in: path
          required: true
          schema:
            type: string
            enum:
              - knowledge-base
              - blueprint
          description: File type
        - name: fileID
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: The file ID to update
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/schemas-AIFileUpdateRequest'
            encoding:
              file:
                contentType: application/octet-stream
      responses:
        '200':
          description: File updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/schemas-AIFile'
        '400':
          $ref: '#/components/responses/400Response'
        '403':
          $ref: '#/components/responses/403Response'
        '404':
          $ref: '#/components/responses/404Response'
        5XX:
          $ref: '#/components/responses/5XXResponse'
  /api/v2/klaudia/knowledge-base/files:
    post:
      tags:
        - Klaudia-Files
      summary: 'Upload knowledge base files (deprecated, use /klaudia/files/{type})'
      operationId: uploadKnowledgeBaseFilesLegacy
      deprecated: true
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/AIFileUploadRequest'
      responses:
        '201':
          description: Files uploaded successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AIFileListResponse'
        '400':
          $ref: '#/components/responses/400Response'
        '403':
          $ref: '#/components/responses/403Response'
        5XX:
          $ref: '#/components/responses/5XXResponse'
  /mgmt/v1/apikey/validate:
    get:
      operationId: ApiKeysController_validate
      deprecated: true
      summary: 'Deprecated: Use `/api/v2/apikey/validate` instead.'
      description: >-
        This API is deprecated. Please use `/api/v2/apikey/validate` API instead
        for new implementations and better validation and error handling.
      parameters:
        - name: x-api-key
          in: header
          schema:
            type: string
      responses:
        '200':
          description: ''
      tags:
        - ApiKey
  /mgmt/v1/events:
    post:
      operationId: EventsController_createCustomEvent
      parameters:
        - name: x-api-key
          in: header
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomEventDto'
      responses:
        '201':
          description: Custom event sent successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomEventResponse'
      tags:
        - Custom Events
  /mgmt/v1/monitors/config:
    get:
      operationId: MonitorsControllerV1_getAll
      deprecated: true
      summary: 'Deprecated: Use `/api/v2/realtime-monitors/config` instead.'
      description: >-
        This API is deprecated. Please use `/api/v2/realtime-monitors/config`
        API instead for new implementations and better validation and error
        handling.
      parameters:
        - name: x-api-key
          in: header
          schema:
            type: string
      responses:
        '200':
          description: List of monitors objects
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Monitor'
      tags:
        - Monitors
    post:
      operationId: MonitorsControllerV1_post
      deprecated: true
      summary: 'Deprecated: Use `/api/v2/realtime-monitors/config` instead.'
      description: >-
        This API is deprecated. Please use `/api/v2/realtime-monitors/config`
        API instead for new implementations and better validation and error
        handling.
      parameters:
        - name: x-api-key
          in: header
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateMonitorDto'
      responses:
        '201':
          description: ID of created monitor
          content:
            application/json:
              schema:
                type: string
      tags:
        - Monitors
  '/mgmt/v1/monitors/config/{id}':
    get:
      operationId: MonitorsControllerV1_get
      deprecated: true
      summary: 'Deprecated: Use `/api/v2/realtime-monitors/config` instead.'
      description: >-
        This API is deprecated. Please use `/api/v2/realtime-monitors/config`
        API instead for new implementations and better validation and error
        handling.
      parameters:
        - name: x-api-key
          in: header
          schema:
            type: string
        - name: id
          required: true
          in: path
          description: uuid of a monitor
          schema:
            type: string
      responses:
        '200':
          description: Monitor object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Monitor'
      tags:
        - Monitors
    put:
      operationId: MonitorsControllerV1_put
      deprecated: true
      summary: 'Deprecated: Use `/api/v2/realtime-monitors/config` instead.'
      description: >-
        This API is deprecated. Please use `/api/v2/realtime-monitors/config`
        API instead for new implementations and better validation and error
        handling.
      parameters:
        - name: x-api-key
          in: header
          schema:
            type: string
        - name: id
          required: true
          in: path
          description: uuid of a monitor
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateMonitorDto'
      responses:
        '200':
          description: Number of affected resources
          content:
            application/json:
              schema:
                type: number
      tags:
        - Monitors
    delete:
      operationId: MonitorsControllerV1_delete
      deprecated: true
      summary: 'Deprecated: Use `/api/v2/realtime-monitors/config` instead.'
      description: >-
        This API is deprecated. Please use `/api/v2/realtime-monitors/config`
        API instead for new implementations and better validation and error
        handling.
      parameters:
        - name: x-api-key
          in: header
          schema:
            type: string
        - name: id
          required: true
          in: path
          description: uuid of a monitor
          schema:
            type: string
      responses:
        '200':
          description: Number of affected rows
          content:
            application/json:
              schema:
                type: number
      tags:
        - Monitors
  /mgmt/v1/rbac/roles:
    get:
      operationId: RolesControllerV1_getAll
      deprecated: true
      summary: 'Deprecated: Use `/api/v2/rbac/roles` instead.'
      description: >-
        This API is deprecated. Please use `/api/v2/rbac/roles` API instead for
        new implementations and better validation and error handling.
      parameters:
        - name: x-api-key
          in: header
          schema:
            type: string
      responses:
        '200':
          description: List of role objects
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Role1'
      tags:
        - Rbac
    post:
      operationId: RolesControllerV1_post
      deprecated: true
      summary: 'Deprecated: Use `/api/v2/rbac/roles` instead.'
      description: >-
        This API is deprecated. Please use `/api/v2/rbac/roles` API instead for
        new implementations and better validation and error handling.
      parameters:
        - name: x-api-key
          in: header
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateRoleDto'
      responses:
        '201':
          description: Role object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Role1'
      tags:
        - Rbac
    delete:
      operationId: RolesControllerV1_delete
      deprecated: true
      summary: 'Deprecated: Use `/api/v2/rbac/roles/{id_or_name}` instead.'
      description: >-
        This API is deprecated. Please use `/api/v2/rbac/roles/{id_or_name}` API
        instead for new implementations and better validation and error
        handling.
      parameters:
        - name: x-api-key
          in: header
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteRoleDto'
      responses:
        '204':
          description: Number of deleted roles
          content:
            application/json:
              schema:
                type: number
      tags:
        - Rbac
  '/mgmt/v1/rbac/roles/{id}':
    get:
      operationId: RolesControllerV1_get
      deprecated: true
      summary: 'Deprecated: Use `/api/v2/rbac/roles/{id_or_name}` instead.'
      description: >-
        This API is deprecated. Please use `/api/v2/rbac/roles/{id_or_name}` API
        instead for new implementations and better validation and error
        handling.
      parameters:
        - name: x-api-key
          in: header
          schema:
            type: string
        - name: id
          required: true
          in: path
          description: uuid of a role
          schema:
            type: string
      responses:
        '200':
          description: Role object
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Role1'
      tags:
        - Rbac
  '/mgmt/v1/rbac/roles/{id}/policies':
    get:
      operationId: RbacRolePoliciesControllerV1_get
      deprecated: true
      summary: >-
        Deprecated: This is now part of `/api/v2/rbac/roles/{id_or_name}`
        response.
      description: >-
        This API is deprecated. Role policies are now returned as part of the
        `/api/v2/rbac/roles/{id_or_name}` API response for better data
        consistency and reduced API calls.
      parameters:
        - name: x-api-key
          in: header
          schema:
            type: string
        - name: id
          required: true
          in: path
          description: uuid of a role
          schema:
            type: string
      responses:
        '200':
          description: Role policies object
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/RolePolicies'
      tags:
        - Rbac
  /mgmt/v1/rbac/roles/policies:
    post:
      operationId: RbacRolePoliciesControllerV1_post
      deprecated: true
      summary: 'Deprecated: Use `/api/v2/rbac/roles/policies` instead.'
      description: >-
        This API is deprecated. Please use `/api/v2/rbac/roles/policies` API
        instead for new implementations and better validation and error
        handling.
      parameters:
        - name: x-api-key
          in: header
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RolePolicies'
      responses:
        '201':
          description: Role policies object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RolePolicies'
      tags:
        - Rbac
    delete:
      operationId: RbacRolePoliciesControllerV1_delete
      deprecated: true
      summary: 'Deprecated: Use `/api/v2/rbac/roles/policies` instead.'
      description: >-
        This API is deprecated. Please use `/api/v2/rbac/roles/policies` API
        instead for new implementations and better validation and error
        handling.
      parameters:
        - name: x-api-key
          in: header
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RolePolicies'
      responses:
        '204':
          description: Number of deleted role-policy connections
          content:
            application/json:
              schema:
                type: number
      tags:
        - Rbac
  /mgmt/v1/rbac/policies:
    get:
      operationId: PoliciesControllerV1_getAll
      deprecated: true
      summary: 'Deprecated: Use `/api/v2/rbac/policies` instead.'
      description: >-
        This API is deprecated. Please use `/api/v2/rbac/policies` API instead
        for new implementations and better validation and error handling.
      parameters:
        - name: x-api-key
          in: header
          schema:
            type: string
      responses:
        '200':
          description: List of policy objects
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Policy1'
      tags:
        - Rbac
    post:
      operationId: PoliciesControllerV1_post
      deprecated: true
      summary: 'Deprecated: Use `/api/v2/rbac/policies` instead.'
      description: >-
        This API is deprecated. Please use `/api/v2/rbac/policies` API instead
        for new implementations and better validation and error handling.
      parameters:
        - name: x-api-key
          in: header
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePolicyDto'
      responses:
        '201':
          description: Policy id
          content:
            application/json:
              schema:
                type: string
      tags:
        - Rbac
    delete:
      operationId: PoliciesControllerV1_delete
      deprecated: true
      summary: 'Deprecated: Use `/api/v2/rbac/policies/{id_or_name}` instead.'
      description: >-
        This API is deprecated. Please use `/api/v2/rbac/policies/{id_or_name}`
        API instead for new implementations and better validation and error
        handling.
      parameters:
        - name: x-api-key
          in: header
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeletePolicyDto'
      responses:
        '204':
          description: Number of deleted policies
          content:
            application/json:
              schema:
                type: number
      tags:
        - Rbac
  '/mgmt/v1/rbac/policies/{id}':
    get:
      operationId: PoliciesControllerV1_get
      deprecated: true
      summary: 'Deprecated: Use `/api/v2/rbac/policies/{id_or_name}` instead.'
      description: >-
        This API is deprecated. Please use `/api/v2/rbac/policies/{id_or_name}`
        API instead for new implementations and better validation and error
        handling.
      parameters:
        - name: x-api-key
          in: header
          schema:
            type: string
        - name: id
          required: true
          in: path
          description: uuid of a policy
          schema:
            type: string
      responses:
        '200':
          description: Policy object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Policy1'
        '404':
          description: Policy not found
      tags:
        - Rbac
    put:
      operationId: PoliciesControllerV1_updatePolicy
      deprecated: true
      summary: 'Deprecated: Use `/api/v2/rbac/policies/{id_or_name}` instead.'
      description: >-
        This API is deprecated. Please use `/api/v2/rbac/policies/{id_or_name}`
        API instead for new implementations and better validation and error
        handling.
      parameters:
        - name: x-api-key
          in: header
          schema:
            type: string
        - name: id
          required: true
          in: path
          description: uuid of a policy
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePolicyDto'
      responses:
        '200':
          description: Modify an existing policy
          content:
            application/json:
              schema:
                type: object
      tags:
        - Rbac
  /mgmt/v1/rbac/users:
    get:
      operationId: RbacUserControllerV1_getAll
      deprecated: true
      summary: 'Deprecated: Use `/api/v2/rbac/users` instead.'
      description: >-
        This API is deprecated. Please use `/api/v2/rbac/users` API instead for
        new implementations and better validation and error handling.
      parameters:
        - name: x-api-key
          in: header
          schema:
            type: string
      responses:
        '200':
          description: User object
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/User1'
      tags:
        - Rbac
  '/mgmt/v1/rbac/users/{id}':
    get:
      operationId: RbacUserControllerV1_get
      deprecated: true
      summary: 'Deprecated: Use `/api/v2/rbac/users/{id_or_name}` instead.'
      description: >-
        This API is deprecated. Please use `/api/v2/rbac/users/{id_or_name}` API
        instead for new implementations and better validation and error
        handling.
      parameters:
        - name: x-api-key
          in: header
          schema:
            type: string
        - name: id
          required: true
          in: path
          description: uuid of a user
          schema:
            type: string
      responses:
        '200':
          description: User object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User1'
      tags:
        - Rbac
  '/mgmt/v1/rbac/users/{id}/roles':
    get:
      operationId: RbacUserRolesControllerV1_get
      deprecated: true
      summary: >-
        Deprecated: This is now part of `/api/v2/rbac/users/{id_or_name}`
        response.
      description: >-
        This API is deprecated. User roles are now returned as part of the
        `/api/v2/rbac/users/{id_or_name}` API response for better data
        consistency and reduced API calls.
      parameters:
        - name: x-api-key
          in: header
          schema:
            type: string
        - name: id
          required: true
          in: path
          description: uuid of a user
          schema:
            type: string
      responses:
        '200':
          description: User object
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/UserRoles'
      tags:
        - Rbac
  /mgmt/v1/rbac/users/roles:
    post:
      operationId: RbacUserRolesControllerV1_post
      deprecated: true
      summary: 'Deprecated: Use `/api/v2/rbac/users/roles` instead.'
      description: >-
        This API is deprecated. Please use `/api/v2/rbac/users/roles` API
        instead for new implementations and better validation and error
        handling.
      parameters:
        - name: x-api-key
          in: header
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserRoles'
      responses:
        '201':
          description: User roles object
          content:
            application/json:
              schema:
                type: string
      tags:
        - Rbac
    delete:
      operationId: RbacUserRolesControllerV1_delete
      deprecated: true
      summary: 'Deprecated: Use `/api/v2/rbac/users/roles` instead.'
      description: >-
        This API is deprecated. Please use `/api/v2/rbac/users/roles` API
        instead for new implementations and better validation and error
        handling.
      parameters:
        - name: x-api-key
          in: header
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserRoles'
      responses:
        '204':
          description: Number of deleted user-role connections
          content:
            application/json:
              schema:
                type: number
      tags:
        - Rbac
  /mgmt/v1/integrations/kubernetes:
    post:
      operationId: ClusterController_post
      deprecated: true
      summary: 'Deprecated: Use `/api/v2/integrations/kubernetes` instead.'
      description: >-
        This API is deprecated. Please use `/api/v2/integrations/kubernetes` API
        instead for new implementations and better validation and error
        handling.
      parameters:
        - name: x-api-key
          in: header
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateClusterDto'
      responses:
        '201':
          description: new kubernetes cluster object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateClusterResponse'
      tags:
        - integrations
  '/mgmt/v1/integrations/kubernetes/{id}':
    delete:
      operationId: ClusterController_delete
      deprecated: true
      summary: 'Deprecated: Use `/api/v2/integrations/kubernetes/{id}` instead.'
      description: >-
        This API is deprecated. Please use
        `/api/v2/integrations/kubernetes/{id}` API instead for new
        implementations and better validation and error handling.
      parameters:
        - name: x-api-key
          in: header
          schema:
            type: string
        - name: id
          required: true
          in: path
          description: apiKey of the cluster
          schema:
            type: string
      responses:
        '204':
          description: Number of deleted apiKeys
          content:
            application/json:
              schema:
                type: number
      tags:
        - integrations
  '/mgmt/v1/integrations/kubernetes/{clusterName}':
    get:
      operationId: ClusterController_getByClusterName
      deprecated: true
      summary: 'Deprecated: Use `/api/v2/integrations/kubernetes/{clusterName}` instead.'
      description: >-
        This API is deprecated. Please use
        `/api/v2/integrations/kubernetes/{clusterName}` API instead for new
        implementations and better validation and error handling.
      parameters:
        - name: x-api-key
          in: header
          schema:
            type: string
        - name: clusterName
          required: true
          in: path
          description: Name of the cluster
          schema:
            type: string
      responses:
        '200':
          description: apiKey of the cluster
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateClusterResponse'
      tags:
        - integrations
  /mgmt/v1/rbac/actions:
    get:
      operationId: ActionsControllerV1_getAll
      deprecated: true
      summary: 'Deprecated: Use `/api/v2/rbac/custom-k8s-actions` instead.'
      description: >-
        This API is deprecated. Please use `/api/v2/rbac/custom-k8s-actions` API
        instead for new implementations and better validation and error
        handling.
      parameters:
        - name: x-api-key
          in: header
          schema:
            type: string
      responses:
        '200':
          description: List of actions
          content:
            application/json:
              schema:
                anyOf:
                  - $ref: '#/components/schemas/RbacCustomK8sAction'
                  - $ref: '#/components/schemas/RbacPolicyAction'
      tags:
        - Rbac
    post:
      operationId: ActionsControllerV1_post
      deprecated: true
      summary: 'Deprecated: Use `/api/v2/rbac/custom-k8s-actions` instead.'
      description: >-
        This API is deprecated. Please use `/api/v2/rbac/custom-k8s-actions` API
        instead for new implementations and better validation and error
        handling.
      parameters:
        - name: x-api-key
          in: header
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCustomActionDto'
      responses:
        '201':
          description: Custom action id and name
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateCustomActionResponse'
      tags:
        - Rbac
  '/mgmt/v1/rbac/actions/{action}':
    get:
      operationId: ActionsControllerV1_get
      deprecated: true
      summary: >-
        Deprecated: Use `/api/v2/rbac/custom-k8s-actions` with actions parameter
        instead.
      description: >-
        This API is deprecated. You can fetch specific actions from
        `/api/v2/rbac/custom-k8s-actions` with the actions query parameter for
        better filtering and performance.
      parameters:
        - name: x-api-key
          in: header
          schema:
            type: string
        - name: action
          required: true
          in: path
          description: Name of an action
          schema:
            type: string
      responses:
        '200':
          description: Action object
          content:
            application/json:
              schema:
                anyOf:
                  - $ref: '#/components/schemas/RbacCustomK8sAction'
                  - $ref: '#/components/schemas/RbacPolicyAction'
        '404':
          description: Action not found
      tags:
        - Rbac
  '/mgmt/v1/rbac/actions/{id}':
    delete:
      operationId: ActionsControllerV1_delete
      deprecated: true
      summary: 'Deprecated: Use `/api/v2/rbac/custom-k8s-actions/{id}` instead.'
      description: >-
        This API is deprecated. Please use
        `/api/v2/rbac/custom-k8s-actions/{id}` API instead for new
        implementations and better validation and error handling.
      parameters:
        - name: x-api-key
          in: header
          schema:
            type: string
        - name: id
          required: true
          in: path
          description: uuid of the action
          schema:
            type: string
      responses:
        '204':
          description: Number of deleted custom actions
          content:
            application/json:
              schema:
                type: number
      tags:
        - Rbac
    put:
      operationId: ActionsControllerV1_update
      deprecated: true
      summary: 'Deprecated: Use `/api/v2/rbac/custom-k8s-actions/{id}` instead.'
      description: >-
        This API is deprecated. Please use
        `/api/v2/rbac/custom-k8s-actions/{id}` API instead for new
        implementations and better validation and error handling.
      parameters:
        - name: x-api-key
          in: header
          schema:
            type: string
        - name: id
          required: true
          in: path
          description: uuid of a policy
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCustomActionDto'
      responses:
        '200':
          description: Modify an existing custom action
          content:
            application/json:
              schema:
                type: object
      tags:
        - Rbac
components:
  schemas:
    ActionType:
      type: string
      enum:
        - deleteResource
        - describeResource
        - restartService
        - scale
        - argoRolloutRestart
        - editResource
        - updateContainersResources
        - free-command
        - runKubectlCommand
        - rbacRunKubectlCommand
        - getPodMetrics
        - getNodeMetrics
        - http-requests
        - manageArgoCD
        - patchResource
        - jobRunNow
        - jobRerun
        - cordon
        - uncordon
        - installHelmChart
        - revertHelmChart
        - rollbackService
      x-oapi-codegen-extra-tags:
        binding: >-
          required,oneof=deleteResource describeResource restartService scale
          argoRolloutRestart editResource updateContainersResources free-command
          runKubectlCommand rbacRunKubectlCommand getPodMetrics getNodeMetrics
          http-requests manageArgoCD patchResource jobRunNow jobRerun cordon
          uncordon installHelmChart revertHelmChart rollbackService
    Resource:
      type: object
      required:
        - clusterName
      properties:
        clusterName:
          type: string
          x-oapi-codegen-extra-tags:
            binding: required
        namespace:
          type: string
        kind:
          type: string
        name:
          type: string
    MinimalAction:
      type: object
      required:
        - type
        - resource
      properties:
        type:
          $ref: '#/components/schemas/ActionType'
        resource:
          $ref: '#/components/schemas/Resource'
    ScaleMetadataData:
      type: object
      required:
        - newValue
        - currValue
      properties:
        newValue:
          type: integer
          x-oapi-codegen-extra-tags:
            binding: 'required,min=0'
        currValue:
          type: integer
          x-oapi-codegen-extra-tags:
            binding: 'required,min=0'
    ScaleMetadata:
      type: object
      required:
        - data
      properties:
        data:
          $ref: '#/components/schemas/ScaleMetadataData'
    EditResourceMetadata:
      type: object
      required:
        - oldJson
        - newJson
      properties:
        oldJson:
          type: object
          x-oapi-codegen-extra-tags:
            binding: required
        newJson:
          type: object
          x-oapi-codegen-extra-tags:
            binding: required
    FreeCommandMetadata:
      type: object
      required:
        - command
      properties:
        command:
          type: string
          x-oapi-codegen-extra-tags:
            binding: required
            validate: 'required,min=1'
        args:
          type: array
          items:
            type: string
            x-oapi-codegen-extra-tags:
              validate: 'required,min=1'
              binding: 'required,min=1'
    RunKubectlCommandMetadata:
      type: object
      required:
        - command
      properties:
        command:
          type: string
          x-oapi-codegen-extra-tags:
            validate: 'required,min=1'
            binding: 'required,min=1'
    HttpRequest:
      type: object
      required:
        - url
        - method
      properties:
        url:
          type: string
          x-oapi-codegen-extra-tags:
            binding: required
            validate: 'required,url'
        method:
          type: string
          enum:
            - GET
            - POST
            - PUT
            - DELETE
            - PATCH
          x-oapi-codegen-extra-tags:
            binding: required
            validate: 'required,oneof=GET POST PUT DELETE PATCH'
        headers:
          type: object
          additionalProperties:
            type: string
        body:
          type: string
        timeout:
          type: integer
          description: Timeout in seconds
          default: 30
    HttpRequestsMetadata:
      type: object
      required:
        - requests
      properties:
        requests:
          type: array
          minItems: 1
          maxItems: 10
          x-oapi-codegen-extra-tags:
            binding: 'required,min=1,max=10,dive'
            validate: 'required,min=1,max=10,dive'
          items:
            $ref: '#/components/schemas/HttpRequest'
    PatchResourceMetadata:
      type: object
      required:
        - patchData
      properties:
        patchData:
          type: string
          description: Patch data in the format appropriate for the patch type
          x-oapi-codegen-extra-tags:
            binding: required
        patchType:
          type: string
          description: 'Type of patch: strategic, merge, or json'
          enum:
            - strategic
            - merge
            - json
          default: strategic
    CronJobRunNowMetadata:
      type: object
      required:
        - jobKomodorUID
      properties:
        jobKomodorUID:
          type: string
          description: CronJob Komodor UID to rerun
          x-oapi-codegen-extra-tags:
            binding: required
            validate: 'required,min=1'
    JobRerunMetadata:
      type: object
      required:
        - jobKomodorUID
      properties:
        jobKomodorUID:
          type: string
          description: Job Komodor UID to rerun
          x-oapi-codegen-extra-tags:
            binding: required
    HelmReleaseInfo:
      type: object
      required:
        - releaseName
        - releaseNamespace
      properties:
        releaseName:
          type: string
          description: Name of the Helm release
          x-oapi-codegen-extra-tags:
            binding: required
            validate: 'required,min=1'
        releaseNamespace:
          type: string
          description: Namespace of the Helm release
          x-oapi-codegen-extra-tags:
            binding: required
            validate: 'required,min=1'
    InstallHelmChartMetadata:
      allOf:
        - $ref: '#/components/schemas/HelmReleaseInfo'
        - type: object
          required:
            - chartName
          properties:
            chartName:
              type: string
              description: Name of the Helm chart to install
              x-oapi-codegen-extra-tags:
                binding: required
                validate: 'required,min=1'
            version:
              type: string
              description: Version of the Helm chart
              x-oapi-codegen-extra-tags:
                binding: required
[...]
